*{
    box-sizing: border-box;
}
header{
    margin-bottom: 1em;
}

#main-container {
    width: 80vw;
    margin: auto;
    border: solid rgb(0 0 0 / 67%);
    display: grid;
    background-color: #d4d4d4;
}

.cart-title{
    margin: 1em;
}

.empty-cart-container{
    text-align:center;
}


.form-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 1.2em 0;
    border: solid;
    margin: 2em auto 0 auto;
    
}

.form-header{
    margin-right: auto;
    margin-left: 20px;
    font-size: 22px;
    margin-bottom: 1em;
}

form label{
    justify-items: baseline ;
}

.input-entry{
    align-self: center;
    grid-area: input;
    width: 35vw;
    max-width: 20em;
    margin: 0.5em 0;
    background: #ebebeb;
}

form button{
    margin-top: 1em;
    align-self: center;   

}

.label-container{
    display: grid;
    grid-template-areas: 'label label  ' 'input  popup ';
    position: relative;
    align-items: center;
}

.input-label{
    grid-area: label;
    font-weight: 500;
    font-size: 17px;}

.help-icon{
    font-size: 14px;
    position: relative;
    grid-area: help;
    cursor: pointer;
}

.help-popup{
    grid-area: popup;
    border: solid;
    position: absolute;
    left: 50%;
    z-index: 2;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 5px;
    visibility: hidden;
    margin-left: 10px;
    max-height: 2em;
    width: max-content;
}



.help-popup::after {
    position: absolute;
    content: "";
    right: 100%;
    border-style: solid;
    border-width: 10px;
    top: 10%;
    border-color: transparent #555 transparent transparent; 
}


.show-popup{
    visibility: visible;
    animation: fadeIn 1s;
}

.hide-popup{
    visibility: hidden;
}

/*Animation Popup*/
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }



  /*Display de la page panier*/
.cart-label{
    
    color: white;
    padding: .2em 0;
}

.container-cart-label{
    margin-bottom: 1em;
}

.products-row{
    margin-bottom: .7em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'name option price delete';
}

div#cart-labelling {
    display: grid;
    width: 100%;
    grid-template-areas: 'label-name label-option label-price .';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: .5em;
    background-color: rgb(0 0 0 / 67%);
    justify-items: center;
}
.products-row {
    justify-items: center;
    align-items: center;
}

.cart-label{
    padding: 0 auto ;
    font-size: 17px;

}

.cart-label__name{
    grid-area: label-name;
}

.cart-label__option{
    grid-area: label-option;
}

.cart-label__prix{
    grid-area: label-price;
}

.product-rows{
    position: relative;
}

.product-quantity{
    grid-area: quantity;
}

.product-name{
    grid-area: name;

}

.product-option{
    grid-area:option;
}

.product-price{
    grid-area: price;
}

.product-delete{
    grid-area: delete;
    position: relative;
}

.cart-element, .cart-label{
    padding-left: 15px;
}
.cart-element {
    font-weight: 500;
    font-size: 16px;
}

.bottom-label-container{
    display: grid;
    grid-template-areas: ' . command  price-total delete-all';
    grid-template-columns:  1fr 1fr 1fr 1fr;
    margin: 1em 0;
}

#total-price{
    grid-area: price-total;

}

#clear-cart{
    grid-area: delete-all;
}

#order-cart-button{
    grid-area: command;
    justify-self: START;
}

button#clear-cart {
    background: #cd2c2cd9;
}

#clear-cart:hover {
	background:linear-gradient(to bottom, #cd2c2cd9 5%, #f06f6fc7 100%);
	background-color:#cd2c2cd9;
}
#clear-cart:active {
	position:relative;
	top:1px;
}


@media all and (min-width: 550px) and (max-width: 1120px) {
    body{
        max-width: 1200px;
    }
   .form-order, #main-container{
        width: 95vw;
        margin: 1em 1em;
    }

    .form-order{
        align-items: flex-start;
    }
    
}

@media all and (min-width: 800px) and (max-width: 1119px){
    .label-container{
        margin-left: 25%;
    }

    .bottom-label-container{
        grid-template-areas: ' command  price-total delete-all';
        justify-items: center;
        grid-template-columns:  1fr 1fr 1fr;
}

#order-cart-button{
    justify-self: inherit;
}
}

@media all and (min-width: 581px) and (max-width: 799px) {
    .label-container{
        margin-left: 10%;
    }

    .bottom-label-container{
        grid-template-areas: 'command  price-total delete-all';
        justify-items: center;
        grid-template-columns:  1fr 1fr 1fr;
}

#order-cart-button{
    justify-self: inherit;
}

}

@media all and (max-width: 580px) {

    
    .help-popup{
        display: none;
    }

    .bottom-label-container{
        grid-template-areas: ' command  price-total delete-all';
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 2em;
        margin: 1em 1em;
    }

    .cart-element {
        font-weight: 500;
        font-size: 14px;
    }

    #total-price{
        margin-left: inherit;
    }

    #total-price{
        text-indent: -7px;
    }
    #total-price{
        font-size: 13px;
    }

    .form-order{
        align-items: center;
    }

}











/*
.input-label{
    position: relative;
    
}

.input-label::after{
    font-family: 'Font Awesome 5 Free';
    content: "\f059";
    position: relative;
    left: 10px;
}

.input-label:hover::after{
    border: solid;
    width: 5em;
    position: relative;
    left: 130px;
}

.letter-label::after{
    
    
    
}
*/