/*Fiche Produit*/
.sub-container{
    display: grid;
    grid-template-areas: 'img name' 'img description' 'img option' 'img price';
    grid-template-columns: 65% 35%;
    border: 5px double #B8B8B8;
    border-radius: 20px;
    overflow: hidden;
    
}

.product-img{
    grid-area: img;
}

.product-name{
    grid-area: name;
    font-size: 17px;
}

.product-name::before{
    content: 'Nom :';
}

.product-price{
    grid-area: price;
    font-size: 15px;
}

.product-price::before{
    content: "Prix :";
}

.product-description{
    grid-area: description;
}

.product-description::before{
    content:"Description :"
}

.product-option{
    grid-area: option;
}

#main{
    margin-top: 1.5em;
}


.product-sheet-infos{
    text-align: start;
    padding: 3.5em 2em ;
    position: relative;
}

.product-sheet-infos::before{
    position: relative;
    right: 3px;
    font-weight: 600;
}